h1, h2 {
  color: #006DB0
}
body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 50;
  background-image: url(White_Lights.png);
  opacity: 0.95;
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 10px auto 10px auto;
}
p span
{
    display: block;
}
table{
  style=”margin:1em auto;”
}
th{
  font-size: 18px;
  text-align: center;
}
tbody{
  font-size: 14px
}
td {
  font-size: 12px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
